<div class="container">
  <div class="row">
    <div class="col m4 offset-m4 s12">
      <h5>Editing Contribution</h5>
      <%= render 'form', contribution: @contribution %>
    </div>
  </div>
</div>
