<!DOCTYPE html>
<html>
  <head>
    <title>MUTUAL FUND 2020</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/assets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/assets/<%= controller_name %>.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">MUTUAL FUND</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">LOAN</a></li>
          <li><a href="#">CALENDAR</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">LOAN</a></li>
          <li><a href="#">CALENDAR</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <%= yield %>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/materialize.js"></script>
    <script src="/assets/init.js"></script>
  </body>
</html>
